{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [eflame]}
]}.

{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {eflame, "0.0.1"},
         [eflame,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},


        {overlay, [
                {mkdir, "priv/"},
                {copy,"priv/stacks_to_flames.sh","priv/stacks_to_flames.sh"},
                {copy,"priv/stack_to_flame.sh","priv/stack_to_flame.sh"},
                {copy,"priv/flamegraph.riak-color.pl","priv/flamegraph.riak-color.pl"},
                {copy,"priv/flamegraph.pl","priv/flamegraph.pl"}
         ]},

        {extended_start_script, true}]

}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
